@import '@/assets/scss/main.scss';

@import '@/assets/scss/main.scss';


.todosModulos {
    height: 100vh;
    padding: 20px 50px 85px 75px;
    background: #000!important;
}
.painel-modulos {
    padding-top: 50px;
}
// .allModules {
//     height: 100vh;
//     padding: 0px 50px 10px 75px;
//     background: #000;
// }