@import '@/assets/scss/main.scss';


.description-video {
    color: #fff;
    padding: 3% 10%;
    display: flex;
    justify-self: center;
    text-align: justify;
}

.div-title-video {
    color: #fff;
}