@import '@/assets/scss/main.scss';

.section-cursos{
    margin: 0px;
    background-color: $background-secondary-page;
    padding: 85px 100px 150px 100px;
}

.todos-cursos-free {
    height: 100%;
}

.col-4 {
    margin-bottom: 30px;
}

.cardCursos {
    height: 100%;
    background: #fff;
    border-radius: 30px;
    margin: 0px 30px;
    box-shadow: 0px 0px 8px -4px #000;
    padding: 14% 10%;
    text-align: left;
    background-position: right;
    background-size: cover;
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cardCursos:hover {
    transform: perspective(3000px) rotateX(0deg) rotateY(0deg) scale3d(1.04, 1.04, 1.04);
}

.btn-cursos:hover {
    background: #c1c1c114;
}

.bi-layers {
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.cardCursos:hover
.bi-layers {
    letter-spacing: 5px;
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.cardGtrans:hover {
    transition: 0.7s!important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(@/assets/images/Categories/categorie-cte.jpg);
}

.title-cursos {
    color: #fff;
}
.titulo-superior {
    font-size: 20px;

    color: #fff!important;
    @include text-degrade;
    font-weight: 700;
    text-align: left;
}

.title {
    color: #fff;
    padding: 3%;
    border-radius: 9px;
    width: 81px;
    font-size: 12px;
}

.subtitle {
    font-size: 25px;
    margin-bottom: 20px;
    color: #fff;
}

.text {
    color: #fff;
    width: 100%!important;
    display: block;
    margin-bottom: 50px;
}

.cardGtrans {
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(@/assets/images/Categories/categorie-cte.jpg);
}

.btn-cursos {
    color: #fff;
    font-size: 15px;
    padding: 4% 11%;
}